@import "./breakpoints.scss";

#c1, #c2, #c3, #c5, #c6 {
    animation: circles 2s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#c4 {
    animation: circles1 2s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes circles{
    from{
        transform: translateY(-5%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes circles1{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(5%);
    }
}


// #right-head, #right-arm {
//     animation: person2 1s ease;
// }

// @keyframes person2 {
//     from {
//         transform: translate(20%);
//     }
//     to {
//         transform: tranlsate(0);
//     }
// }

// #left-arm, #l1, #l2, #l3, #l4, #l5, #l6, #l7 {
//     animation: hand1 1s ease;
// }

// @keyframes hand1 {
//     from {
//         transform: rotateZ(40deg);
        
//     }
//     to {
//         transform: rotateZ(0);
//     }
// }

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url(../fonts/Nunito-Bold.ttf) format('truetype');
}


svg{
    overflow: visible !important;
}



body {
    font-family: 'Nunito';
    margin: 0;
    overflow-x: hidden;
}

.wave-bg {
    background: rgb(55,134,139);
    background: linear-gradient(141deg, rgba(55,134,139,1) 0%, rgba(45,104,122,1) 32%, rgba(35,43,82,1) 100%);
    display: flex;
    flex-direction: column;
    

    .logo {
        width: 60vw;
        height: 40vh;
        display: flex;
        align-self: center;
    }

    .wave {
        svg {
            display: block;
            margin-bottom: -1vh;
        }
    }  
}

.navbar {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    color: white;
    background-color: #2d687a;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1vh 0;
        
        span {
            margin-top: 0.5vh;
        }
    }
}


.about {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;;

    .bg {
        position: absolute;
        z-index: -1;
    }

    .celebration {
        margin-left: -20vw;
        margin-top: -10vh;
    }

    @include media("<smallphone"){
        .bg {
            width: 100vw;
        }
        .celebration {
            margin-top: -7vh;
            width: 80vw;
        }
    }

    @include media("<=phone", ">=smallphone") {
        .bg {
            width: 95vw;
        }
        .celebration {
            margin-top: -10vh;
            width: 100vw;
        }
    }

    .header {
        font-family: 'Nunito-Bold';
        font-size: 2rem;
        margin-left: 2vw;
    }

    .text {
        margin-left: 2vw;
        font-size: 1rem;
        width: 90vw;
    }
}

.whatwedo {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .bg {
        position: absolute;
        z-index: -1;
    }

    @include media("<smallphone"){
        .bg {
            width: 120vw;
        }
        .welcoming {
            margin-top: -13vh;
            width: 80vw;
        }
    }

    @include media("<=phone", ">=smallphone") {
        .bg {
            width: 95vw;
        }
        .welcoming {
            margin-top: -10vh;
            width: 80vw;
        }
    }

    .welcoming {
        
    }

    .header {
        font-family: 'Nunito-Bold';
        font-size: 2rem;
        margin-right: 2vw;
    }

    .text {
        text-align: right;
        margin-right: 2vw;
        font-size: 1rem;
        width: 90vw;
    }
}

.spacer {
    height: 500px;
}