@font-face {
  font-family: 'Tajawal-Bold';
  src: url(../fonts/Tajawal-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Tajawal-Regular';
  src: url(../fonts/Tajawal-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Strait-Regular';
  src: url(../fonts/Strait-Regular.ttf) format("truetype");
}

#pin3, #pin33 {
  -webkit-animation: circles 2s linear;
          animation: circles 2s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes circles {
  from {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes circles1 {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
}

@keyframes circles1 {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
}

/**
*
* Testing
*
**/
body {
  margin: 0;
  overflow-x: hidden;
}

@media (min-width: 1367px) {
  .home-mobile, .other-mobile, .whatwedo-mobile, .about-mobile {
    display: none;
  }
  .home-desktop .home {
    width: 100vw;
    height: 100vh;
  }
  .home-desktop .home .top-bg {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
  .home-desktop .home .bottom-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    width: 75vw;
  }
  .home-desktop .home .logo {
    font-size: 2rem;
    color: white;
    font-family: 'Tajawal-Bold';
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 4vh;
    left: 10vw;
  }
  .home-desktop .home .elements {
    margin-top: 4vh;
    margin-left: 70vw;
    font-size: 2rem;
    color: white;
    font-family: 'Tajawal-Bold';
    width: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .home-desktop .home .content {
    margin-top: 25vh;
    margin-left: 10vw;
  }
  .home-desktop .home .content .header {
    font-family: 'Tajawal-Bold';
    font-size: 5rem;
    letter-spacing: 0.2rem;
  }
  .home-desktop .home .content .text {
    font-family: 'Strait-Regular';
    font-size: 1.8rem;
    margin-top: 1vh;
    width: 20vw;
  }
  .home-desktop .home .content .button {
    margin-top: 8vh;
    width: 10vw;
    padding: 1rem;
    background-color: #223A39;
    font-family: 'Strait-Regular';
    border-radius: 19px;
  }
  .home-desktop .home .content .button div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .home-desktop .home .content .button div span {
    font-size: 3rem;
    color: white;
  }
  .home-desktop .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5vh 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .home-desktop .description .left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-desktop .description .left .main-text {
    font-size: 2rem;
    font-family: 'Strait-Regular';
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 2vh;
  }
  .home-desktop .description .left .second-text {
    font-size: 1.3rem;
    font-family: 'Strait-Regular';
    margin-left: 2vw;
  }
  .home-desktop .description .right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-desktop .description .right .main-text {
    font-size: 2rem;
    font-family: 'Strait-Regular';
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 2vh;
  }
  .home-desktop .description .right .second-text {
    font-size: 1.3rem;
    font-family: 'Strait-Regular';
    margin-left: 2vw;
  }
  .home-desktop .about-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5vh 10vw;
  }
  .home-desktop .about-desktop .image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .home-desktop .about-desktop .image svg {
    width: 20vw;
  }
  .home-desktop .about-desktop .text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3vw;
  }
  .home-desktop .about-desktop .text .main-text {
    font-size: 2rem;
    font-family: 'Tajawal-Bold';
    letter-spacing: 0.2rem;
    margin-bottom: 2vh;
  }
  .home-desktop .about-desktop .text .second-text {
    font-family: 'Strait-Regular';
  }
  .home-desktop .whatwedo-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5vh 10vw;
  }
  .home-desktop .whatwedo-desktop .image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .home-desktop .whatwedo-desktop .image svg {
    width: 20vw;
  }
  .home-desktop .whatwedo-desktop .text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 3vw;
  }
  .home-desktop .whatwedo-desktop .text .main-text {
    font-size: 2rem;
    font-family: 'Tajawal-Bold';
    letter-spacing: 0.2rem;
    margin-bottom: 2vh;
  }
  .home-desktop .whatwedo-desktop .text .second-text {
    font-family: 'Strait-Regular';
  }
}

@media (max-width: 1366px) {
  .home-desktop, .about-desktop, .whatwedo-desktop {
    display: none;
  }
  .home-mobile {
    width: 100vw;
    height: 100vh;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(100, 147, 136, 0.86)), color-stop(50%, rgba(255, 255, 255, 0.18)), to(#649388)), #649388;
    background: linear-gradient(360deg, rgba(100, 147, 136, 0.86) 20%, rgba(255, 255, 255, 0.18) 50%, #649388 100%), #649388;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-mobile .logo {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 5vh;
    max-height: 50vh;
  }
  .home-mobile .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15vh 5vw 0 5vw;
  }
  .home-mobile .text .main-text {
    font-family: 'Tajawal-Regular';
    font-size: 2.3rem;
    margin-bottom: 3vh;
  }
  .home-mobile .text .second-text {
    font-family: 'Tajawal-Regular';
    width: 55vw;
    text-align: center;
  }
  .home-mobile .click {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .home-mobile .click svg {
    width: 50vw;
    max-height: 12vh;
  }
  .other-mobile {
    display: none;
    background-color: white;
  }
  .other-mobile .click-down {
    display: none;
    opacity: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .other-mobile .click-down img {
    width: 50vw;
    max-height: 12vh;
  }
  .other-mobile .about-mobile {
    margin-top: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .other-mobile .about-mobile .bg {
    position: absolute;
    z-index: -1;
  }
  .other-mobile .about-mobile .celebration {
    margin-left: -20vw;
    margin-top: -10vh;
  }
}

@media (max-width: 1366px) and (max-width: 359px) {
  .other-mobile .about-mobile .bg {
    width: 100vw;
  }
  .other-mobile .about-mobile .celebration {
    margin-top: -7vh;
    width: 80vw;
  }
}

@media (max-width: 1366px) and (max-width: 480px) and (min-width: 360px) {
  .other-mobile .about-mobile .bg {
    width: 95vw;
  }
  .other-mobile .about-mobile .celebration {
    margin-top: -10vh;
    width: 100vw;
  }
}

@media (max-width: 1366px) {
  .other-mobile .about-mobile .header {
    font-family: 'Tajawal-Bold';
    font-size: 2rem;
    margin-left: 2vw;
  }
  .other-mobile .about-mobile .text {
    font-family: 'Tajawal-Regular';
    margin-left: 2vw;
    font-size: 1rem;
    width: 90vw;
  }
  .other-mobile .whatwedo-mobile {
    margin-top: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .other-mobile .whatwedo-mobile .bg {
    position: absolute;
    z-index: -1;
  }
}

@media (max-width: 1366px) and (max-width: 359px) {
  .other-mobile .whatwedo-mobile .bg {
    width: 120vw;
  }
  .other-mobile .whatwedo-mobile .welcoming {
    margin-top: -13vh;
    width: 80vw;
  }
}

@media (max-width: 1366px) and (max-width: 480px) and (min-width: 360px) {
  .other-mobile .whatwedo-mobile .bg {
    width: 95vw;
  }
  .other-mobile .whatwedo-mobile .welcoming {
    margin-top: -10vh;
    width: 80vw;
  }
}

@media (max-width: 1366px) {
  .other-mobile .whatwedo-mobile .header {
    font-family: 'Tajawal-Bold';
    font-size: 2rem;
    margin-right: 2vw;
  }
  .other-mobile .whatwedo-mobile .text {
    font-family: 'Tajawal-Regular';
    margin-right: 2vw;
    font-size: 1rem;
    width: 90vw;
    text-align: right;
  }
}
/*# sourceMappingURL=main.css.map */